{% extends 'libraries/base.html' %}
{% block title %}welcome{% endblock title %}

{% block content %}
<div class="container">
<h1 class="text-center">latest library</h1>
  <div class="row">
{% for lib in object_list %}
    <div class="col">
<h1 class="text-center">{{lib.name}}</h1>
<div>
created by : {{lib.auther.username}}
</div><!box show auther>
<div>
date created : {{lib.date_created | date}}
</div>
</div><!col>
{%empty%}
<p> there are no library yet</p>
{% endfor %}
</div>
<h2>pages : {{paginator.num_pages}}</h2
  <ul class="pagination">
{% if page_obj.has_previous %}
<li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
</li>
    <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
</li>
{% endif %}
                {% if page_obj.has_next %}
    <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
</li>
<li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
</ul>
</div>

{% endblock content %}